<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
  <div class="hero-unit">
		<%= f.label :account_type %> 
		<%= f.select(:account_type, [['Checking', 1], ['Saving', 2]]) %>
	</div>

  <div class="actions">
		<%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit %>
  </div>
<% end %>
