<div class="hero-unit">

<p id="notice"><%= notice %></p>

<h2>Account Balance: <small>$<%= @account.balance %></small></h2>

<table class="table table-bordered">
	<caption>Transactions</caption>
	<thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
			<th>Debit</th>
			<th>Credit</th>
			<th>Balance</th>
    </tr>
  </thead>
	<tbody>
		<% for transaction in @account.transactions do %>
    <tr>
			<% tt = transaction.transaction_type %>
			<td><abbr title="<%= transaction.created_at.to_s(:db) %> UTC"><%= transaction.created_at.strftime("%b/%d/%Y") %></abbr></td>
			<% if transaction.transaction_type == 1 %>
				<td>Withdrawl</td>
			<% elsif transaction.transaction_type == 2 %>
				<td>Deposit</td>
			<% else %>
				<td>Transfer</td>
			<% end %>
			<td>
				<% if tt == 1 or (tt == 3 and transaction.source_account_id == @account.id) %>
					$<%= transaction.amount %>
				<% end %></td>
			<td>
				<% if tt == 2 or (tt == 3 and transaction.destination_account_id == @account.id) %>
					$<%= transaction.amount %>
				<% end %>
			</td>
			<% if tt == 1 or (tt == 3 and transaction.source_account_id == @account.id) %>
				<td>$<%= transaction.source_balance %></td>
			<% else %>
				<td>$<%= transaction.destination_balance %></td>
			<% end %>
		</tr>
		<% end %>
  </tbody>
</table>

<br/>

<%= link_to 'Back', profile_path, 'data-no-turbolink' => true %>

</div>
